# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

/config/elastic_search.yml

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.*
*.env
.env.local
.env.*.local

# Project specific
.gradio/
*.log
*.db
*.db.lock
milvus.db
.milvus.db.lock

# OS specific
.DS_Store
Thumbs.db 

# logs
*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
/outputs/
/logs/
/data/
/~/